#box {
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: auto;
  padding: 20px;
}

button {
  width: 200px;
  height: 50px;
  font-weight: bold;
}

button:hover{
  color: black;
  background-color: slateblue;
}
  
h1{
  text-align: center;
  font-weight: bold;
  font-size: 50 px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color:pink;
  padding-inline-end: 40px;
  margin-right: 40px;
}

li {
  float: left;
  background-color:rgb(156, 229, 253);
  margin: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color:rgb(126, 191, 255);
}

#main_page {
  display: inline-block;
}

#level_page {
  display: none;
}

img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 5px;
}

#playboard {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: none;
}

#lost_game {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: none;
}

#score{
  float: right;
  display: block;
  background-color: blanchedalmond;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 40px;
}

body {
  border: solid 5px black; 
  margin: 5px;
  align-content: center;
}
